.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
   border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  background-color: $color-white;
  color: $color-grey-dark;
  font-size:1.8rem;
  cursor: pointer;
  border: none;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $box-shadow;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: $box-shadow;
    outline: none;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 1rem;
    background-color: $color-white;
    color: $color-grey-dark;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
  }

  &--animated {
    animation: moveInBtn 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.btn--white {
  padding: 1.5rem 2rem;
  background-color: $color-white;
  color: $color-grey-dark;

  &::after {
    background-color: $color-white;
  }
}

.btn--green {
  padding: 1.5rem 2rem;
  background-color: $color-primary;
  color: $color-white;

  &::after {
    background-color: $color-primary;
  }
}

.subBtn{
  padding: .6rem 1rem ;
  width: 15rem;
  text-align: center;
  align-self: flex-end;
  font-size: 1.4rem;
  background-color: $color-secondary-dark;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  color: $color-white;

  &:focus{
    outline: none;
    transform: translateY(2px);
  }

  
}

