nav{
    position: sticky; 
    top: 0;
    z-index: 999;
    width: 100%;    
    background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-dark-3, 0.9),
    rgba($color-grey-dark-2, 0.9));

   
   
    
}

.navigation{
    margin: 0 auto; 
    max-width: 70%;    
    color: $color-white;
    display: flex;
    align-items: center;
    
    &__destination{
        display: flex;
        align-items: center;
        &--icon{
            margin: 1rem 1.2rem;
            font-size: 2rem;
        }
        
    }

    &__days{
        margin: 0 3rem;
        
    }

    &__passengers{
        flex: 1;
        
    }
  }

  .navigation h3{
      
      font-weight: 500;
  }
  .navigation h4{
      
      font-weight: 300;
  }