.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.7);
  z-index: 9999;  
  transition: all 0.3s;
  backdrop-filter: blur(7px);
  display: none;
  justify-content: center;
  align-items: center;
  
  
  
  
  

  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
  }

  &__main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &--list{
      @include respond(tab-port) {
       display: flex;
       
      }
    }


    &--item{
      display: flex;
      align-items: center;
      @include respond(tab-port) {
        margin-right: 1rem;
        text-align: center;
        
       }
    }

    &--icon{
      font-size: 3rem;
      margin-right: 1rem;
    }

    &--middle{
      padding: 0 3rem;
     flex: 1;   
     
     &__text {
      font-size: 1.4rem;
      
     
    }
     }
    


    &--tech{
      display: flex;
      flex-direction: column;
      @include respond(tab-port) {
        text-align: center;
       }
    }

    &--image{
      
    max-width: 40rem;
    width: 100%;
    height: 20rem;    
    position: relative;

    @include respond(tab-port) {
     margin: 1rem 0;
    }

    &-pic{
      
      height:100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
    }

  }
  
  &__buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
      :first-child{
        margin-bottom: 1rem;
      }
    }
    
  }

  

 

  &__close {
    &:link,
    &:visited {
      color: $color-primary;      
      font-size: 3rem;
      text-decoration: none;      
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      
      color: $color-grey-dark;
    }
  }

  &__content {
    width: 90%;
    margin: 0 auto;
    background-color: $color-white;
    box-shadow: $box-shadow;    
    border-radius: 3px;   
    position: relative;
    padding: 2.5rem;
    
    

    
  }

  

  


}





// icons
.fab.fa-html5{
  color: #F16529 ;
}

.fab.fa-css3-alt{
  color:#2965f1 ;
}
.fab.fa-sass{
  color:#CD6799 ;
}
.fab.fa-js{
  color:#f0db4f ;
}
.fab.fa-react{
  color:#61DBFB ;
}